* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  padding: 20px 40px;
  width: 800px;
}

.area-form {
  display: flex;
  flex-flow: row nowrap;
}

.area-search {
  padding: 0 10px 10px;
  background-color: gainsboro;
  flex: 1 0;
  margin-right: 10px;
}

.area-select {
  padding: 0 10px 10px;
  background-color: gainsboro;
  flex: 1 0;
}
